<section id="profile" class="container">
    <div class="row mt-5">
        <div class="offset-lg-4 col-lg-4 col-sm-4 col-4 main-section text-center card">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="user-details">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Nombre:
                      <h6 *ngIf="providerId != 'password'">{{user.name}}</h6>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Correo:
                      <h6>{{user.email}}</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>